# Ignored files
src/build
src/data
gkit2light
alglib/
rbf_interpolator/
# Fichiers générés par le Makefile
*.o
hello

# Fichiers de sauvegarde créés par certains éditeurs
# Emacs
*~
\#*#

# Vi
.*.swp

#vscode
.vscode
